<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>
    <aside>
    <div>
        <img src="../assets/img/CovidRojo.jpg">
    </div>
    <div>
        <img src="../assets/img/CovidVerde.jpg">
    </div>
    <div>
        <img src="../assets/img/CovidVioleta.jpg">
    </div>
    </aside>
    <aside class="cboth">
        <div class="div1">
            <p>Dosis distribuidas</p>
        </div>
        <div class="div1">
            <p>Dosis administradas</p>
        </div>
        <div class="div1">
            <p>Personas pauta completa</p>
        </div>
    </aside>

</body>


</html>